.cat{
    display: flex;
    /* justify-content:center; */
    align-items:center ;
    justify-content: center;
    height: 500px;
    border: 5px red solid;
    flex-direction: column;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.catHead{
    font-size: 28px;
}
.list{
    text-align: center;
    list-style: none;
    display: flex;
    flex-direction: column;
    width: 20%;
    /* border: 5px red solid; */
    height: 50%;
    /* justify-content: space-around; */

}

.category_list_first_item{
    border: 1px rgb(0, 0, 0) solid;
    text-align: start;
    border-radius: 15px 15px 0 0;
    background-color: antiquewhite;
}
.category_list_last_item{
    border: 1px rgb(0, 0, 0) solid;
    text-align: start;
    border-radius: 0 0 15px 15px;
    background-color: antiquewhite;
}
.category_list_each_item{
    border: 1px rgb(0, 0, 0) solid;
    text-align: start;
    /* border-radius: 15px; */
    background-color: antiquewhite;
}
.lss{
    font-weight: 600;
    padding: 10px;
    display: flex;
    justify-content: space-between;

}
