.about-us-container {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    color:black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 20px 30px;
    background-color:#bbc0c7;
    /* opacity: .8; */

}
.social-media{
    margin-top: 2%;
    display: flex;
    border: 2px red solid;
    width: 40%;
    justify-content:space-between;
}

.learn-below-list{
text-decoration: none;
list-style: none;
}

.top {
    display: flex;
    flex-direction: row;

}
.ourmission{
    font-size: 25px;
    font-weight: 300;
}

.about-us-text {
    width: 50%;
}

.learn-more {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    list-style: none;
    text-decoration: none;
}

a img {
    width: 50px;
}

.veg {
    position: relative;
    bottom: -150px;
    display: flex;
    justify-content: space-between;
}

.veg img {
    width: 15%;
}