.about-us-container {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    color:#bbc0c7;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 50px 100px 0 100px;
    background-color: rgb(13, 30, 50);
    font-size: 15px;
}

.top {
    display: flex;
    flex-direction: row;
    gap: 300px;
}

.about-us-text {
    width: 50%;
}

.about-us-text p{
    font-size: 18px;
}

.learn-more {
    width: 50%;
    display: flex;
    flex-direction: column;
}

a {
    list-style: none;
    text-decoration: none;
    color: #bbc0c7;
}

.veg {
    position: relative;
    bottom: -100px;
    display: flex;
    justify-content: space-between;
}

.veg img {
    width: 15%;
}

.social{
    height: 30px;
    width: 30px;
    padding: 20px 10px 0 0;
}

.link a{
    display: block;
}
.link a:hover{
    color: goldenrod;
}
.download{
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    margin-top: 10px;
}
.btn{
    padding: 10px 0 0 15px;
    display: flex;
    justify-content: flex-start;
    width: 35%;
    height: 53px;
    background-color: black;
    color: white;
    gap: 20px;
}

.btn p{
    font-size: 15px;
}

.btn:hover{
    color: goldenrod;
}