.about-us-container {
    position: absolute;
    bottom: 0;
    height: 45%;
    display: flex;
    padding: 50px;
    justify-content: space-between;
    align-items:start;
    background-color: #f5f5f5;
  }
  .social{
    height: 50px;
  }
  
  .about-us-text {
    width: 40%;
  }
  
  .about-us-text h1 {
    font-size: 3em;
    margin-bottom: 20px;
  }
  
  .about-us-text p {
    font-size: 1.2em;
    line-height: 1.5;
  }
  
  .app-store-buttons {
    display: flex;
    margin-top: 30px;
  }
  
  .app-store-buttons a {
    margin-right: 20px;
  }
  
  .learn-more {
    width: 40%;
  }
  
  .learn-more h2 {
    font-size: 2em;
    margin-bottom: 20px;
  }
  
  .learn-more ul {
    list-style: none;
    padding: 0;
  }
  
  .learn-more li {
    margin-bottom: 10px;
  }
  
  .learn-more li a {
    text-decoration: none;
    color: #333;
  }
  
  .social-media {
    display: flex;
    margin-top: 30px;
  }
  
  .social-media a {
    margin-right: 10px;
  }
  
  .footer {
    text-align: center;
    margin-top: 50px;
    font-size: 0.8em;
  }
  
.veg{
  position: absolute;
  bottom: -150px;
}
.veg img{
  height: 300px;
}