*{
  margin: 0;
  padding: 0;
}

.home {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
  justify-content: space-between; 
}

.nav {
  height: 60px;
  background-color: rgb(13, 30, 50);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 15px;
}

.logo img {
  width: 50px;
}

.menu {
  margin-right: 25px;
  width: 90px;
  display: flex;
  justify-content: space-between;
}

.menu img {
  width: 40px;
}

.category-container {
  width: 100vw;
}