.main{
    overflow: hidden;
    display: flex;
    height: 100%;
    background-image: url(../assets/home_back.jpg);
}
.auth {
    width: 40%; /* Full width */
    height: 100%; /* Full height */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: yellow; */
    justify-content:center;
    /* Background color */
}
.right{
    display: flex;
    justify-content: center;
   
    width: 60%;
    /* background-color: gainsboro; */
}
.hn{
    transform: rotate(15deg);
    border-radius: 10%;
    opacity: .95;
    height: 100%;
}
.title{
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
letter-spacing: 10px;
font-size: 104px;
    z-index: 1;
    color: aliceblue;
    left: 22.5%;
    font-weight: 800;
    top: 20%;
    position: absolute;
}
.sc{text-decoration: none;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
text-transform: uppercase;
letter-spacing: 5px;
    color: white;
    position: relative;
    top: -50px;
}