.datasection {
    width: 100%;
    min-height: 900px; /* Ensure it expands with content */
    background-color: white;
    z-index: 0; /* Layer below HomeSearch */
    position: relative; /* Default stacking context */
}
