.form-container{
    opacity: .95;
    color: white;
    font-size: 44px;
display: flex;
flex-direction:column ;

border-radius: 50px;
width: 500px;
height: 700px;
background-color: rgb(13, 30, 50);
justify-content: space-evenly;
align-items: center;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h2{
    letter-spacing: 10px;
}
input {
    padding-left: 5px;
    border-radius: 10px;
    height: 50px;
    width: 350px;
    border: none; /* No border */
    background-color: white; /* Set a background color to avoid transparency */
    outline: none; /* Removes default focus outline */
}

button{
   border: none;
    margin-top: 10px;
    width: 350px;
    height: 50px;
    border-radius: 10px;

}